#banner {
    grid-template-areas: "one";
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-img {
    object-fit: contain;
}

.item-one {
    grid-area: one;
    margin-left: 10px;
}

.item-two{
    grid-area: two;
    display: none;
    width: 100%;
    width: 0;
    height: 0;
}


@media (min-width: 900px ) {
    #banner {
        grid-template-areas: "one two";
        grid-template-columns: 1fr;
        grid-gap: 24px;
        display: flex;
    }
}

@media (min-width: 750px ) {
    #banner {
        grid-template-areas: "one two";
        grid-template-columns: 1fr;
        grid-gap: 24px;
        display: flex;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;

    }
    .item-img {
        margin-left: 0;
        margin-right: 0;
    }

    .item-two {
        overflow: hidden;
    }
}