#banner {
    /* grid-area: banner; */    
    grid-template-areas: "one two";
    grid-template-columns: repeat(1fr,2);
    grid-gap: 24px;
    display: flex;
    margin:0;
    margin-left: 0;
    margin-right: 0;
}
#banner .item-img {
    width: 628px;
    height: 200px;
    object-fit: contain;
}
#banner .item-one {
    grid-area: one;
}
#banner .item-two {
    grid-area: two;
}