#banner {
    grid-template-areas: "one";
}
.item-img {

    /* width: 355px; */
    
    height: 200px;
  
    object-fit: contain;

    /* 1024
    width: 628px;
    height: 200px;
    object-fit: contain; */
}
.item-one {
    grid-area: one;
}