<section id="cards">
    <div class="cardsRow1">
        <img src="./assets/png/cards.png" srcset="./assets/png/cards@2x.png 2x,
   
                ./assets/png/cards@3x.png 3x" class="img-cards">
        <div class="text-row1">Tenés <span class="text-style-1">2 Tarjetas</span></div>
        <div class="label-row1">Ver vencimientos, cierres y últimos consumos</div>
        <img src="./assets/png/right.png" srcset="./assets/png/right@2x.png 2x,
        ./assets/png/right@3x.png 3x" class="img-row1">
    </div>
    <div class="cardsRow2">
        <div class="item card-grid" *ngFor="let card of this.cards ; index as i" >
                <div class="left" *ngIf="card.valid">
                    <img src="{{ card.path }}" srcset="{{ card.path }}@2x.png 2x,
                {{ card.path }}@3x.png 3x" class="Tarjeta">
                    <div class="Text">
                        {{ card.number }}
                    </div>
                    <div class="Pago">
                        {{ card.pago }}
                    </div>
                </div>
                <div class="right" *ngIf="card.valid">
                    <div class="cierra">
                        <div class="Text">Cierra {{ card.cierra }} Vence {{ card.vence }}</div>
                    </div>
                    <div class="Moneda">
                        <span class="simbolo">$</span>
                        <span class="cantidad">{{card.pesos }},</span>
                        <span class="decimales">00</span>
                    </div>
                    <div class="Moneda">
                        <span class="simbolo">u$s</span>
                        <span class="cantidad">{{card.dolares}},</span>
                        <span class="decimales">00</span>
                    </div>

                    <div class="link">
                        Ver detalle
                    </div>
                </div>
            </div>

        </div>
</section>