#cards {
    display: grid;
    grid-template-areas: "cardsRow1" "cardsRow2";
    padding-left: 16px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    /* height: 162px; */
    opacity: 0.7;
    background-color: #f5f5f5;
    row-gap: 10px;
}

.cardsRow1 {
    grid-area: cardsRow1;
    display: flex;
}

.cardsRow2 {
    grid-area: cardsRow2;
    column-gap: 24px;
    
    display: flex;
}

.item {
    /* width: 302px; */
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.img-cards {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.text-row1 {
    font-family: Heebo;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #333333;
}

.text-row1 .text-style-1 {
    font-weight: normal;
}

.label-row1 {
    font-family: Heebo;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ee2527;
}

.img-row1 {
    width: 15px;
    height: 15px;
    object-fit: contain;
}

.card-grid {
    display: grid;
    grid-template-areas: left right;
    column-gap: 30px;
    padding: 18px;
    margin: 0;
}

.left {
    grid-column: 1;
}

.left .Tarjeta {
    width: 65px;
    height: 38px;
    object-fit: contain;
}

.left .Text {
    font-family: Heebo;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #939393;
}

.left .Pago {
    font-family: Heebo;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #939393;
}

.right {
    grid-column: 2;
}

.right .cierra .Text {
    font-family: Heebo;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #939393;
}

.right .Moneda {
    font-family: Heebo;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: -0.5px;
    color: #333333;
}

.right .Moneda .simbolo {
    line-height: 1.11;
    font-size: 18px;
}

.right .Moneda .cantidad {
    line-height: 1;
    font-size: 20px;
}

.right .Moneda .decimales {
    line-height: 1.1;
    font-size: 18px;
}

.right .link {
    font-family: Heebo;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #ee2527;
}