#header {
    background-color: #ffffff;
    height: 60px;
    display: grid;
    margin: 0;
    grid-gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 14;
    margin-bottom: 14;
    grid-template-areas: "menu-left menu-center menu-right";
}
.left-menu {
    grid-area: menu-left;
    display: flex;
    align-items: center;
    align-self: left;
    
}

.center-menu {
    grid-area: menu-center;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.right-menu {
    grid-area: menu-right;
    display: flex;
    align-items: center;
    justify-content: right;
}

.right {
    width: 15px;
    height: 10px;
    margin-left: 8px;
}

.icon {
    object-fit: contain;
}

.label-menu {
    height: 16px;
    font-family: Heebo;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.12px;
    color: #333333;
    margin-left: 10px;
}

.menu-desktop {
    display: none;
}

.label-saludo {
    font-family: Heebo;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: 0.1px;
    text-align: right;
    color: #333333;
}

.read {
    object-fit: contain;
}

.logout-topbar {
    object-fit: contain;
    margin-left: 16px;
}

@media (min-width: 900px) {
    .menu-desktop {
        display: inline;
        align-self: center;
        font-family: Heebo;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: 0.1px;
        color: #939393;
    }
    .label-saludo {
        display: none;
    }

    .right-desktop {
        object-fit: contain;
        margin-left: 10px;
        margin-right: 10px;
    }

}