<section id="header">

    <div class="left-menu">
        <img src="./assets/png/icon.png" srcset="./assets/png/icon@2x.png 2x,
   
                ./assets/png/icon@3x.png 3x" class="icon">

        <div class="label-menu">
            Menú
            <div class="menu-desktop">
                <img src="./assets/png/right.png" srcset="./assets/png/right@2x.png 2x,
       
            ./assets/png/right@3x.png 3x" class="right-desktop">
                Resumen
            </div>
        </div>
    </div>
    <div class="center-menu">
        <div class="label-saludo">
            Hola Juan <img src="./assets/png/right.png" srcset="./assets/png/right@2x.png 2x,
       
            ./assets/png/right@3x.png 3x" class="right">
        </div>
        <div class="menu-desktop">
            <img src="./assets/png/copia-de-ego-negro.png" srcset="./assets/png/copia-de-ego-negro@2x.png 2x,
       
            ./assets/png/copia-de-ego-negro@3x.png 3x" class="ego-img-desktop">
        </div>
    </div>
    <div class="right-menu">
        <img src="./assets/png/read.png" srcset="./assets/png/read@2x.png 2x,

             ./assets/png/read@3x.png 3x" class="read">

        <img src="./assets/png/logout-topbar.png" srcset="./assets/png/logout-topbar@2x.png 2x,
        
                     ./assets/png/logout-topbar@3x.png 3x" class="logout-topbar">
    </div>
</section>