<section id="cuentas">
    <div class="row1">
        <div class="box align-left">
            <img src="./assets/png/accounts.png" srcset="./assets/png/accounts@2x.png 2x,
            ./assets/png/accounts@3x.png 3x" class="Accounts">

            <div class="Text">
                Tenés
                <span class="text-style-1">
                    4 Cuentas
                </span>
            </div>
            <img src="./assets/png/down.png" srcset="./assets/png/down@2x.png 2x,
                ./assets/png/down@3x.png 3x" class="down align-right">
        </div>

    </div>
    <div class="row2">
        <div class="box align-left">
            <img src="./assets/png/fave-default.png" srcset="./assets/png/fave-default@2x.png 2x,
                    ./assets/png/fave-default@3x.png 3x" class="Fave-Default">

            <div class="Text">
                Tenés
                <span class="text-style-1">
                    4 Cuentas
                </span>
            </div>
            <img src="./assets/png/down.png" srcset="./assets/png/down@2x.png 2x,
                ./assets/png/down@3x.png 3x" class="down align-right">
        </div>
    </div>
</section>
<hr class="line">