/* summary */

summary {
    cursor: pointer;
    justify-content: space-between;
    padding: 2px;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: stretch;
}

details {
    user-select: none;
}

details[open] #summary-img {
    transform: rotate(-180deg);
}

details[open] #summary-img2 {
    transform: rotate(-180deg);
}

summary::-webkit-details-marker {
    display: none;
}

:focus {
    outline: none;
}

/*             GRID            */

#cuentas {
    display: grid;
    grid-template-areas: "row1" "row2";

    opacity: 0.7;
    background-color: #f5f5f5;
    gap: 10px;

    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.row1 {
    grid-area: row1;
    display: grid;
    display: block;
}

.row2 {
    grid-area: row2;
    display: grid;
}

/********************************************************/

.box {
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
}

.Text {
    width: calc(50%-20px);
    font-family: Heebo;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333333;
    margin-left: 10px;
    text-overflow: ellipsis;
}

.Text .text-style-1 {
    font-weight: normal;
}

.Text .text-style-2 {
    font-weight: 500;
}

.flex-center {
    display: flex;
    align-items: flex-start;
}

.line {
    border-width: 1px;
    position: absolute;
    left: 0;
    right: 0;
    opacity: 0.7;
    background-color: #f5f5f5;
}

.style-movimientos {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #3a3a3a;
}

/* IMG */

.Accounts-img {
    object-fit: contain;
}

.down-img {
    object-fit: contain;
}

.Fave-Default-img {
    object-fit: contain;
}

/* TABLES */

table {
    width: 100%;
}

td .align-left {
    text-align: left;
}

td .align-right {
    text-align: right;
}

/**********************************/

@media (min-width: 900px) {
    #cuentas {
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .row1 {
        grid-column: 1;
        grid-row: 1;
        margin-left: 0;
        margin-right: 0;
    }
    .row2 {
        grid-column: 2;
        grid-row: 1;
        margin-left: 0;
        margin-right: 0;
    }
}

/*
MODIF
*/

table.cuentas tr:nth-child(2n) {
    border-top: dotted 1px rgba(93, 93, 93, 0.2);
}

table.movimientos tr:nth-child(2n) {
    border-top: dotted 1px rgba(93, 93, 93, 0.2);
}

/**/

@media (min-width: 750px) {
    .row1 {
        grid-column: 1;
        grid-row: 1;
    }
    .row2 {
        grid-column: 2;
        grid-row: 1;
    }
}

@media (min-width: 900px) {
    #cuentas {
        box-shadow: -100px 0px 0px 0px #f5f5f5, +100px 0px 0px 0px #f5f5f5;
        padding-bottom: 33px;
        padding-top: 30px;

        gap: 25px;
    }
}

@media (min-width: 1100px) {
    #cuentas {
        box-shadow: -200px 0px 0px 0px #f5f5f5, +200px 0px 0px 0px #f5f5f5;
    }
}