#cuentas {
    display: grid;
    grid-template-areas: "row1" "row2";
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.7;
    background-color: #f5f5f5;
    row-gap: 10px;
}

.row1 {
    grid-area: row1;
    display: grid;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
}

.row2 {
    grid-area: row2;
    display: grid;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.box {
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 10px;
    padding-bottom: 16px;
}

.Accounts-img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.Text {
    font-family: Heebo;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #333333;
    margin-left: 10px;
}

.Text .text-style-1 {
    font-weight: normal;
}

.Text .text-style-2 {
    font-weight: 500;
}

.down {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.flex-center {
    display: flex;
    align-items: flex-start;
}

.line {
    margin: 0;
    padding: 0;
    opacity: 0.7;
    background-color: #f5f5f5;
}

.style-movimientos {
    width: 250px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #3a3a3a;
}

/* movimientos */

.Fave-Default {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

/* SUMARY DETAILS */

summary {
    display: flex;
}

hr.bg {
    border-radius: 7px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

/* SUMMARY MOVIMIENTOS */

.td-movs-item1 {
    font-family: Heebo;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    color: #333333;
}

.td-movs-item2 {
    font-family: Heebo;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    color: #333333;
}

.td-movs-item3 {
    font-family: Heebo;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.86;
    letter-spacing: normal;
    text-align: right;
    color: #333333;
}

.td-movs-img2 {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.tr-ver-mas {
    border-radius: 7px;
    background-color: #f5f5f5;
}

.tr-ver-mas-text {
    font-family: Heebo;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.1px;
    color: #ee2527;
}

/**********************************/

@media (min-width: 900px) {
    .row1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 12px;
    }
    .row2 {
        grid-column: 2;
        grid-row: 1;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 12px;
        margin-right: 0;
    }
}

@media (min-width: 750px) {
    .row1 {
        grid-column: 1;
        grid-row: 1;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0;
        margin-right: 12px;
    }
    .row2 {
        grid-column: 2;
        grid-row: 1;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 12px;
        margin-right: 0;
    }
}