<section id="textSection">

    <div class="text-one">
        <div class="text-style1">
            Aprobación para Constituir un Plazo Fijo
        </div>
        <div class="text-style2">
            Lorem ipsum dolor sit amet
        </div>
    </div>

    <hr class="line">

    <div class="text-two">
        <div class="text-style1">
            Comparación de Comisiones
        </div>
        <div class="text-style2">
            Lorem ipsum dolor sit amet
        </div>
    </div>
</section>