@import url('https://fonts.googleapis.com/css?family=Heebo');
#resumen {
    display: grid;
    margin: 0 auto;
    grid-template-areas: "navbar""money" "cuentasYMovimientos" "cards" "banner" "text";
}

app-money {
    grid-area: money;
}

app-navbar {
    grid-area: navbar;
}

app-accounts {
    grid-area: cuentasYMovimientos;
}

app-cards {
    grid-area: cards;
}

app-banner {
    grid-area: banner;
}

app-text-section{
    grid-area:text;
}