@import url('https://fonts.googleapis.com/css?family=Heebo');
#resumen {
    display: grid;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-areas: "header" "navbar""money" "cuentasYMovimientos" "cards" "banner" "text" "footer";
}
app-header {
    grid-area: header;
}
app-footer{
    grid-area: footer;
}
app-money {
    grid-area: money;
}

app-navbar {
    grid-area: navbar;
}

app-accounts {
    grid-area: cuentasYMovimientos;
}

app-cards {
    grid-area: cards;
}

app-banner {
    grid-area: banner;
}

app-text-section{
    grid-area:text;
}


@media (min-width: 900px) {
    #resumen {
        display: grid;
        grid-template-columns: 100px 1fr 100px;
        grid-template-areas: ". header ." ". navbar ." ". money . " ". cuentasYMovimientos ." ". cards     ." ". banner   ." ". text ."". footer .";
    }
}

@media (min-width: 1200px) {
    #resumen {
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-areas: ". header ." ". navbar ." ". money . " ". cuentasYMovimientos ." ". cards     ." ". banner   ." ". text ."". footer .";
    }
}