<section id="navbar">
    <div class="card-grid">
        <div class="item1 column text">

            Extracción 
            <span class="text-style-1">
                sin Tarjeta
            </span>

        </div>
        <div class="item2 column text">
            <span class="text">
                Extracción
            </span>
            sin Tarjeta
        </div>
        <div class="item3 column text">
            <span class="text">
                Extracción
            </span>
            sin Tarjeta
        </div>
        <div class="item4 column text">
            <span class="text">
                Extracción
            </span>
            sin Tarjeta
        </div>
    </div>
</section>