<section id="navbar">
    <div class="card-grid">
        <div class="item1 column text">
            Extracción
            <span class="text-style-1">
                <b>&nbsp;sin Tarjeta</b>
            </span>

        </div>
        <div class="item2 column text">
            Hacé una
            <span class="text-style-2">
                &nbsp;Transferencia
            </span>
        </div>
        <div class="item3 column text">
            Créditos a Tasa 0
            <span class="text-style-2">
                &nbsp;con TC
            </span>
        </div>
        <div class="item4 column text">
            Créditos a Tasa 0
            <span class="text-style-1">
                &nbsp;sin TC
            </span>
        </div>
    </div>
</section>