<section id="money">
    <div class="row1">
        <div class="contentCenter">
            <div class="saldo">
                Saldo total en tus cuentas al 13.04 <span class="label">Ver Cuentas</span>
            </div>
            <img src="./assets/png/right.png" srcset="./assets/png/right@2x.png 2x,
                ./assets/png/right@3x.png 3x" class="right">
        </div>
    </div>
    <div class="row2">
        <div class="contentCenter">
            <div class="moneda">
                <span class="moneda-simbolo">$</span> 30.000,<span class="moneda-decimales">00</span>
            </div>
        </div>
    </div>
    <div class="row3">
        <div class="contentCenter">
            <div class="moneda moneda-style-2">
                <span class="moneda-simbolo">u$s</span>45,<span class="moneda-decimales">00</span>
            </div>
            <div class="moneda moneda-style-2">
                <span class="moneda-simbolo">€</span> 0,<span class="moneda-decimales">00</span>
            </div>
        </div>
    </div>
</section>