#money {
    display: grid;
    grid-template-areas: "row1" "row2" "row3";
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    row-gap: 20px;
}

.row1 {
    grid-area: row1;
}

.row2 {
    grid-area: row2;
}

.row3 {
    grid-area: row3;
}

.contentCenter {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.saldo {
    font-family: Heebo;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

.label {
    font-family: Heebo;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ee2527;
}

.right {
    height: 15px;
    object-fit: contain;
}

.moneda {
    font-family: Heebo;
    font-size: 29px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.88;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
}

.moneda-simbolo {
    font-size: 23px;
    margin-left: 20px;
}

.moneda-decimales {
    font-size: 23px;
}

.moneda-style-2 {
    opacity: 50%;
}

@media (min-width: 720px) {
    .moneda {
        font-size: 40px;
    }
    .moneda-simbolo {
        font-size: 32px;
    }
}

@media (min-width: 900px) {
    #money {
        grid-template-areas: "row1" "row2 row3";
    }
}